@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body{
    color: white;
    background-color: black;
}
.custom-button {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.custom-button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10px; /* Adjust the width of the cut corner */
  height: 100%;
  background-color: #b91c1c; /* Adjust to match the button color */
  transform: skewX(-45deg);
  transform-origin: top right;
}